#inline {
    background-color: rgb(83, 180, 212);
    display: inline;
}

button {
    display: block;
}

#box1 {
    background-color: rgb(83, 180, 212);
}

#box3 {
    background-color: rgb(255, 65, 128, 0.1);     /* opacity is use to make the element transparent , here the opacity is 0.1 */
}

#box1, #box2, #box3 {
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}


#box2 {
    background-color: orange;
    /* display: none; */             /* Uncomment this line to make box2 disappear */
    visibility: hidden;             /* Uncomment this line to make box2 invisible but still take up space */
}