* {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    height: 60px;
    background-color: #0f1111;
    
}

button {
    background-color: #f08804;
    border: paleturquoise;
    border-radius: 15%;
    
}

#logo {
    color:#f08804
}

a {
    margin-right: 200px;
    text-decoration: none;
}

#content {
    min-height: 609px;
    background-color: #1a1c1c;
    text-align: center;
    padding-top: 20px;
}

footer {
    color: #ffffff;
    background-color: #0f1111;
    text-align: center;
}

.contentBox {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}