div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    top: 200px;
    left: 200px;

    /* animation */

    animation: colorAnimation 1s ease-in 1ms infinite alternate;
    /* animation-name: colorAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1ms;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

}

@keyframes colorAnimation {
    0% {
        left:0px;
        background-color: aquamarine;
        color: white;
    }
    50% {
        background-color: yellow;
        color: black;
    }
    100% {
        left:400px;
        background-color: red;
        color: white;
    }  
}

/* @keyframes colorAnimation {
    from {
        left:0px;
        background-color: aquamarine;
    }
    to {
        left:400px;
        background-color: red;
        color: white;
    }  
} */

